
body {
			background-image: url('images/Background1.jpeg');
			background-size: cover; /* adjust to your preference */
			background-repeat: no-repeat;
			background-position: center center;
}
	



body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #1ce71954;
	color: #ffffff;
	padding: 20px;
	
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

footer {
	background-color: #333;
	color: #ffffff;
	padding: 20px;
	text-align: center;
}
